<%- include("partials/header") -%>


<h1>HOME</h1>
<p><%= homeStartingContentValue %></p>

<% storedPosts.forEach(function(storedPost){ %>
    <h1>  <a href="/posts/<%= storedPost.title %>"><%= storedPost.title%> </a></h1>
    <p ><%= storedPost.content.substring(0,100)+"..."%></p>
    
<% }); %>



<%- include("partials/footer") -%>

