<%- include("partials/header") -%>


<h1>HOME</h1>
<p><%= homeStartingContentValue %></p>

<% storedPosts.forEach(function(storedPost){ %>
    <h1><%= storedPost.title%></h1>
    <p ><%= storedPost.content.substring(0,100)+"..."%>
    <a href="/posts/<%= storedPost._id %>">Read more </a>
    </p>
    
<% }); %>



<%- include("partials/footer") -%>

